/* #main-grid-box{
   
} */
.cmp-gallery_mainBox {
  margin: 0px;
}
.cmp-gallery_box-main {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container.cmp-gallery_container {
  align-items: center;
}
.row.cmp-gallery_row {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
}
.cmp-gallery_img-title {
  font-size: 36px;
  color: #34383c;
}
.cmp-gallery_img-subtext {
  font-size: 20px;
  color: #9b9b9b;
}
.cmp-gallery_container {
  position: relative;
  top: 0;
  margin: 30px 0px;
}
.cmp-gallery_title {
  font-size: 37px;
  color: #1f1f1f;
  align-items: center;
  text-align: center;
}
.cmp-gallery_underline {
  width: 100%;
  justify-content: center;
  display: flex;
  position: absolute;
  margin-bottom: 15px;
}
.cmp-gallery_underline-gray {
  width: 197px;
  height: 2px;
  border: 3px solid #9b9b9b;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 6px 1px #a4a5a8;
}
.cmp-gallery_underline-black {
  width: 149px;
  height: 2px;
  border: 3px solid #424242;
  border-radius: 10px;
  position: relative;
  bottom: 3px;
  left: 21px;
}
.cmp-gallery_main-button {
  width: 100%;
  display: flex;
  min-width: 30%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.cmp-gallery_button {
  background: #e7e8e9;
  box-shadow: -3.75731px -4.50877px 6.0117px #ffffff,
    2.25439px 1.50292px 6.0117px 1.50292px rgba(54, 54, 54, 0.24);
  border-radius: 12px;
  color: #34383c;
  min-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 13px;
  cursor: pointer;
}
.cmp-gallery_underline-white {
  width: 91px;
  height: 2px;
  border: 3px solid #e4e4e4;
  border-radius: 10px;
  position: relative;
  bottom: 3px;
  left: 25px;
}
@media (max-width: 900px) {
  .cmp-gallery_title {
    font-size: 32px !important;
  }
}

@media (max-width: 765px) {
  .cmp-gallery_img-title {
    font-size: 16px;
  }
  .cmp-gallery_button {
    min-width: 75%;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .cmp-gallery_img-subtext {
    font-size: 14px;
  }
  .row.cmp-gallery_row {
    padding: unset;
    width: unset;
  }
  .cmp-gallery_underline-gray {
    width: 143px;
  }
  .cmp-gallery_underline-black {
    width: 97px;
  }
  .cmp-gallery_underline-white {
    width: 45px;
  }
  .cmp-gallery_img-title {
    font-size: 28px;
  }
}
