
.footer {
  background-color: #424242;
  padding: 40px 80px;
  margin: 0;
  box-sizing: border-box;
}
.footer-container {
  width: 100%;
  display: flex;
}
.footer-title-style{
  text-decoration: none;
  color: #eaeaea;
}

.footerTitle {
  color: #eaeaea;
  font-size: 18px;
  line-height: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.call-img-contact{
font-size: 16px !important;
    display: contents;
   
  }
.footer-heading.footer-3 {
  width: 100%;
  align-items: flex-end;
  margin-right: 3rem;
}
.footerSubTitle {
  display: flex;
}
.footer-heading {
  display: flex;
position: relative;
  flex-direction: column;
  margin-right: 5rem;
}
.call-img {
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #7d7d7d;
  position: absolute;
  bottom: 0px;
  background: #7d7d7d;
  box-shadow: 3.32523px 2.21682px 8.86729px 2.21682px rgba(0, 0, 0, 0.24);
}
.call-img a {
  font-size: 20px;
  margin-left: 10px;
}
.footer-heading.text-call a {
  font-size: 20px;
  margin-left: 10px;
}
.contact-call-img {
  position: relative;
  top: 2px;
  margin-right: 8px;
}
.FooterHead a{
  color: #eaeaea !important;
  font-size: 20px !important;
  padding-top: 15px !important;
  white-space: nowrap;
  text-transform: uppercase;
}
.footer-heading a {
  color: #bebebe;
  font-size: 17px;
  padding-top: 15px;
  text-decoration: none;
}
.footer-heading p {
  color: #bebebe;

  font-size: 6px;
}
.mobFooter {
  display: flex;
}
.number {
  font-size: 8px;
  color: #eaeaea;

  margin-left: 5px;
}

.stores p {
  font-size: 17px;
  margin-top: 10px;
}
.call-img-contact {
  color: #EAEAEA !important;
}
.playStore img {
  width: 90px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.line-copy {
  background-color: #eaeaea;
  height: 1px;
  width: 100%;
  margin: 25px 5px;
}
.line-copy-mob{
  display: none;
}

.Copyright p {
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
  color: #bebebe;
  text-align: center;
}
.mob-view-contact {
  display: none;
}
@media (max-width: 765px) {
  .footer {
    padding: 24px;
  }
  .footer-heading {
    margin-right: 10px;
    flex-basis: 100%;
  }
  .footer-heading.FooterHead {
    font-size: 16px;
  }
  .footer-heading a {
    font-size: 14px;
  }
  .line-copy-mob{
    background-color: #eaeaea;
    height: 1px;
    width: 100%;
    margin: 25px 5px;
    display: flex;
  }

  .call-img {
    position: relative;
    bottom: 100%;
    left: 50%;
    border-radius: 10px;
    background: #424242;
    box-shadow: -2px -4px 6.01px #969696, 2.25439px 1.50292px 6.0117px 1.50292px rgb(0 0 0 / 24%);
    width: 120px;
    white-space: nowrap;

  }
  .contact-call-img {
    position: relative;
    top: 2px;
    margin-right: 8px;
}

  .footerMobile {
    flex-direction: row;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
  .mobFooter {
    display: flex;
    width: 100%;
  }
  .stores p {
    margin-top: unset;
  }
  .footer-heading.footer-3 {
    margin-right: unset;
  }

  .contactUsMobile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .line {
    background-color: #e5e5e5;
    height: 1.5px;
    width: 100%;
    margin: 0px 5px;
    position: relative;
    top: 28px;
  }

  .playStore img {
    width: 30%;
    cursor: pointer;
  }
  .footer-heading.FooterHead {
    padding-top: 10px;
  }
  .stores p {
    font-size: 12px;
  }

  .footer-heading.footer-3 {
    align-items: inherit;
  }
  .call-img {
    padding-top: 10px !important;
  }
  .mob-view-contact {
   
    display: flex;
    
    justify-content: center;
  }
  .mob-view-contact p {
    font-size: 14px;
    margin-left: 10px;
    color: #eaeaea;
  }
  .mob-view-contact a {
    padding: unset;
  }
}
