.cmp-inspired-horizontal-view{
.cmp-category_first-box{
        display: block ;
       }
    }


/* vertical code starts*/
.cmp-inspired-vertical-view{

 
  
}

/* vertical code ends*/


/* horizotal and default code starts*/


 /* horizotal and default code starts*/





 .cmp-category_first-box{
    display: flex ;
   }
   .cmp-category_card{
       width: 55% !important;
   }
   .cmp-category_first-box img{
    width: 128px !important;
    height: 160px;
    object-fit: cover !important;
    border-radius: 10px;
   }
   .cmp-category_img-title p {
font-size: 18px;

   }
.cmp-category_subText p{
    font-size: 16px;
}
.cmp-category_second-box{
    line-height: initial;
    padding: 0px 10px;
}
.cmp-category_card{
    margin-bottom: 34px;
    padding: 10px;
}  
.owl-carousel .owl-item {
    width: 650px !important;
    display: flex !important;
}
.owl-carousel .owl-stage {
width: 100% !important;
}
.cmp-category_card{
    width: 100% !important;
}
.cmp-category_author p {
    font-size: 16px;
    margin: unset;
}
@media (min-width:900px)and(max-width:765px){
    .owl-carousel .owl-stage {
        width: unset !important;
        }
        .owl-carousel.owl-drag .owl-item {
            width: 100% !important;
        }
}
@media(max-width:765px){
    .cmp-category_card{
        width: 40%;
    }
    .cmp-category_img-title{
        font-size: 14px;
    }
    .owl-carousel .owl-item {
        width: 100% !important;
        display: flex !important;
    }
}





.cmp-category_title p{
    font-size: 28px;
    line-height: 24px;  
     color: #34383C;
}
.cmp-category_card {
background: #EBECF0;
box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.06);
border-radius: 12px;
border-radius: 20px;
}
.cmp-category_first-box{
    padding: 10px;
}
.cmp-category_second-box{
    padding: 10px;
}
.cmp-category_design p{
    color: #7D7D7D;
font-size: 16px;
overflow: hidden;
        
}
.cmp-category_img-title p{

    
    color: #34383C;
    font-size: 24px;
}
.cmp-category_subText p {
    color: #7D7D7D;
    font-size: 18px; 
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cmp-category_author p {
    color: #7D7D7D;
    font-size: 18px;  
}
@media(max-width:600px){
    .cmp-category_design p{
font-size: 12px;
    }
    .cmp-category_img-title{
        font-size: 16px;
    }
    .cmp-category_subText p{
font-size: 12px;
    }
    .cmp-category_author p{
        font-size: 12px
    }

}