body {
    background-color: #c6c6c6;
  }
  
  .cmp-desc_container {
    max-width: 400px !important;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  p {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  .cmp-desc_describes-title {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 36px;
  }
  
  .cmp-desc_describes-title p {
    max-width: 250px;
    align-items: center;
    text-align: center;
    font-size: 24px;
  }
  .cmp-home_underline {
    width: 100%;
    justify-content: center;
    display: flex;
    position: relative;
    margin-bottom: 10px;
    color: #7d7d7d;
    margin-top: 24px;
  }
  .cmp-home_underline-gray {
    width: 170px;
    height: 2px;
    background-color: #9b9b9b;
    border: 3px solid #9b9b9b;
    position: absolute;
    bottom: -3px;
    border-radius: 10px;
    box-shadow: 5px 5px 6px 1px #a4a5a8;
  }
  
  .cmp-home_underline-black {
    width: 120px;
    height: 2px;
    border: 3px solid #424242;
    background-color: #424242;
    border-radius: 10px;
    position: absolute;
    bottom: -3px;
    left: 21px;
  }
  
  .cmp-home_underline-white {
    width: 65px;
    height: 2px;
    border: 3px solid #e4e4e4;
    background-color: #e4e4e4;
    border-radius: 10px;
    position: absolute;
    bottom: -3px;
    left: 25px;
  }
  .cmp-first-name {
    color: #34383c;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .button-container {
    /* width: 100%;
    padding: 34px 0;
    background: #ebecf0;
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 999;
    bottom: 0; */
    /* display: none; */
  }
  .bottom-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    min-width: 279px;
    height: 60px;
    background: #e7e8e9;
    box-shadow: -3px -4px 6px #ffffff,
      2.25439px 1.50292px 6.0117px 1.50292px rgba(54, 54, 54, 0.24);
    border-radius: 8px;
    border: none;
    align-items: center;
  }
  @media (max-width: 768px) {
    .button-container {
      width: 100%;
      padding: 34px 0;
      background: #ebecf0;
      display: flex;
      justify-content: center;
      position: absolute;
      z-index: 999;
      bottom: 0;
      left: 0;
    }
  }
  